/* div {
  border: blue solid;
}
span {
  border: blue solid;
} */

.portfolio-card {
  margin: 20px auto 20px;
  width: calc(min(100% - 30px, 800px));
  background-color: #f2f2f2;
  padding: 10px 15px 15px;
  transition: .2s;
  position: relative;
} .portfolio-card:hover {
  transform: scale(1.03);
}

.card-left {
  width: 30%;
  height: calc(100% - 10px - 10px);
  position: absolute;
  white-space: nowrap;
}
.card-right {
  padding-left: 10px;
  position: relative;
  left: 30%;
  width: 70%;
  margin-left: 7px; /* i give up */
}

.middle-helper {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  position: relative;
}
.thumb-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: .2s;
  vertical-align: middle;
  transform-origin: left bottom;
  position: absolute;
} .thumb-image:hover {
  object-fit: contain;
  z-index: 2;
  transform: scale(2);
}

.project-heading {
  font-size: 140%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 5px;
}

.button {
  font-size: 100%;
  transition: .2s;
  cursor: pointer;
  margin: auto;
  padding: 7px 50px 10px;
  border-radius: 6px;
  display:inline-block;
  background-color: black;
  color: white;
  border: solid 1px;
  text-align: center;
} .button:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
} .button:focus {
  transform: scale(1.2);
  background-color: white;
  color: black;
  text-decoration: underline;
  border-color: rgba(0, 0, 0, 0);
} .button:active {
  transform: scale(.9);
}

.project-link {
  background-color: #eee;
  color: black;
  padding: 0px 10px 2px;
  border-radius: 30px;
  margin-right: 10px;
  text-decoration: none;
} .project-link:hover {
  transform: scale(1.2);
  background-color: #00b;
  color: white;
}

.smol-pad {
  padding: 0 4px 2px;
}

.tag-span {
  color: white;
  position: relative;
  line-height: 1.6;
}
.tag-middle {
  transition: .2s;
  background-color: black;
} .tag-middle:hover {
  background-color: #444;
} .tag-middle:focus {
  background-color: #777;
}
.tag-positive {
  transition: .2s;
  background-color: #0a0;
  cursor: pointer;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
} .tag-positive:hover {
  background-color: #0b0;
} .tag-positive:focus {
  background-color: #0d0;
}
.tag-negative {
  transition: .2s;
  background-color: #a00;
  cursor: pointer;
  position: absolute;
  z-index: 1;
} .tag-negative:hover {
  background-color: #c00;
} .tag-negative:focus {
  background-color: #f00;
}

.center-text {
  text-align: center;
}

.portfolio-control-panel {
  background-color: black;
  color: white;
  margin: 20px auto 20px;
  width: calc(100% - 30px);
  padding: 0.1px 0;
}
.portfolio-control-panel-row {
  display: table;
  width: 100%;
  margin: 15px auto;
  width: calc(100% - 30px);
}
.portfolio-control-panel-row-left {
  text-align: right;
  padding-right: 10px;
  display: table-cell;
  width: 120px;
}
.portfolio-control-panel-row-right {
  display: table-cell;
  background-color: white;
  padding: 10px;
}
.portfolio-control-panel-row-right-blank {
  display: table-cell;
}

.radio-button {
  margin-right: 20px;
  padding: 7px 20px;
  font-size: 100%;
  transition: .2s;
  cursor: pointer;
  border-radius: 6px;
  display:inline-block;
  background-color: black;
  color: white;
  border: solid 1px;
  text-align: center;
} .radio-button:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
} .radio-button:focus {
  text-decoration: underline;
}

.landing-page {
  margin: 1em;
}

.hat {
  box-shadow: #bbb 0 0px 5px 5px;
}
.hat ul {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.hat li {
  float: left;
  padding: .5em 1em;
  transition: .3s;
} .hat li:hover {
  background-color: #e8e8e8;
}
.hat a {
  text-decoration: none;
  color: black;
}

.smart-iframe {
  width: 100%;
  border: none;
}

.margin-8px {
  margin: 8px;
}
